/*
    Document   : Indexstyle.css
    Created on : 2015-09-01 08:09 PM
    Author     : willthe1
    Description:
    Purpose of the stylesheet follows.
    To change this template use Tools | Templates.
*/

root {
    display: block;
}